@page "/"
@using DatabaseHandler.Data
@using System
@using DatabaseHandler.Models
@inject DBConn dbConn
@inject DBConnModel dbConnModel
<h1>Database</h1>


<div class="dbstring">
    <form class="form">
        <label for="connName">Connection string</label> <br>
        <input type="text" id="connName" @bind="ConnectionString">
        <input type="button" value="Submit" @onclick="@OnClickMethod">
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>name</th>
        </tr>
    </thead>
</table>



@foreach (DBConnModel modelList in dbLists)
{
    <table class="table">
        <thead>
            <tr>
                <details>
                    <summary> @modelList.DBName </summary>
                    @foreach (DBConnModel table in tableList)
                    {
                        <tr>
                            <td> @table.TableName </td>
                        </tr>
                    }
                </details>
                
            </tr>
        </thead>
    </table>
}

@code {
    List<DBConnModel> dbLists = new();
    List<DBConnModel> tableList = new();

    public string? ConnectionString { get; set; }

    public void OnClickMethod()
    {
        dbConnModel.ConnectionString = ConnectionString;
        dbLists = dbConn.Read();
    }

    public void ReadTable()
    {
        tableList = dbConn.ReadTable(dbConnModel);
    }
}
