*{
    
}
.headline{
    text-align: center;
    padding: 10px;
    font-size: 45px;
    text-decoration: underline;

}
.dbstring{
    padding: 10px;
}

.nameBox {
    padding: 10px;
}
.queryBox {
    padding: 10px;
    width: 250px;
}
.tableLoop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 1em;
}
.table{
    padding: 10px;
    font-size: larger;
}
 .testColumn {
    text-decoration: underline;
    text-align: start;
    padding: 5px;
}
.testRow
{
    border: 1px solid black;
    padding: .5em;
}
.btn.btn-primary{
    margin: 10px;
}
.createSection > h4 {
    padding: 10px;
}
.formControl{
    height: 20px;
}