@page "/"
@using DatabaseHandler.Data
@using System
@using DatabaseHandler.Models
@inject DBConn dbConn
@inject DBConnModel dbConnModel
<h1 class="headline">Database</h1>


<div class="dbstring">
    <form class="form">
        <label for="connName">Connection string</label> <br>
        <input type="text" id="connName" @bind="ConnectionString">
        <input type="button" value="Submit" @onclick="@OnClickMethod">
    </form>
</div>




<div class="tableLoop">
    @foreach (var group in Records.GroupBy(r => r.TableName))
    {
        <table class="table">
            <thead>
                <tr>
                    <details>
                        <summary>@group.Key</summary>
                        <table>
                            <thead>
                                <tr class="columnName">
                                    @foreach (var columnName in group.First().ColumnName)
                                    {
                                        <th class="testColumn">@columnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var record in group)
                                {
                                    <tr class="rowValue">
                                        @foreach (var value in record.RowValue)
                                        {
                                            <td class="testRow">@value.ToString()</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </details>
                </tr>
            </thead>
        </table>
    }
</div>

<div class="createSection">
    <h4>Add a New Database</h4>
    <div class="queryBox">
        <label for="DatabaseQuery">Database Query</label> <br />
        <input type="text" style="resize:both; overflow:auto; width:500px; height:100px;" class="form-control" id="database" width="" @bind="Query"></input>
    </div>
    <button class="btn btn-primary" @onclick="CreateSqlCommand">Add Database</button>
</div>

@code {
    List<DBConnModel> dbLists = new();
    List<DBConnModel> Records = new();

    public string? ConnectionString { get; set; }
    public string? DatabaseTable { get; set; }
    public string? Query { get; set; }

    public void OnClickMethod()
    {
        dbConnModel.ConnectionString = ConnectionString;
        dbLists = dbConn.Read();
        ReadTable();
    }

    public void ReadTable()
    {
        Records = dbConn.GetAllRecords(dbLists);
    }
    public void CreateSqlCommand()
    {
        dbConn.SqlCommand(ConnectionString, Query, DatabaseTable);
        ReadTable();
    }
}
